@if (screen === 'welcome') {
  <app-throwdown-welcome (enter)="onEnter()"></app-throwdown-welcome>
}
@if (screen === 'list') {
  <app-throwdown-list
    [configs]="configs"
    [isLoading]="isLoadingConfigs"
    [loadError]="loadError"
    [deleteError]="deleteError"
    (newConfig)="onNewConfig()"
    (editConfig)="onEditConfig($event)"
    (playConfig)="onPlayConfig($event)"
    (deleteConfig)="onDeleteConfig($event)"
  ></app-throwdown-list>
}
@if (screen === 'edit') {
  <app-throwdown-edit
    [initialConfig]="editingConfig"
    (back)="goToList()"
    (saved)="onConfigSaved($event)"
    (startTimer)="onPlayConfig($event)"
  ></app-throwdown-edit>
}
@if (screen === 'timer') {
  <app-throwdown-run
    [config]="activeConfig"
    (back)="goToList()"
  ></app-throwdown-run>
}
